@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Rajdhani';
    src: url(../Polices/Rajdhani-Medium.ttf);
}

:root {
    --yellow-color: #FFFF00;
    --yellow-light: #F8F184;
    --blue-color: #19587D;
    --white-color: #FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}

button {
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: black;
    color: white;
    font-family: 'Space-Grotesk';
    font-weight: 300;
}


/* Design de la navigation */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul {
    list-style: none;
}

nav ul a {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'Rajdhani';
}

nav ul a:hover {
    color: var(--yellow-color);
}


/*Design de la partie en tête hero */

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position-x: top center;
    background-repeat: no-repeat;
    background-color: #19587D;
}


/* Design de la section batman personnages */

.batman-personnage {
    display: flex;
    justify-content: space-between;
}