    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
    @font-face {
        font-family: 'Rajdhani';
        src: url(../Polices/Rajdhani-Medium.ttf);
    }
    
     :root {
        --yellow-color: #FFFF00;
        --yellow-light: #F8F184;
        --blue-color: #19587D;
        --white-color: #FFFF;
        --red-color: #b11313;
        --black-color: #0D0E09;
        --redlight-color: #890008;
        --gris-color: #0e0c0c54;
        --gradient-white: #eddebfb4;
        --gradient-red: #890009b4;
        --black-color: #0000;
    }
    /* Définition des Bordures */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    h1 {
        font-family: 'Rajdhani';
        font-size: 36px;
        font-weight: 400;
    }
    
    button {
        font-family: 'Rajdhani';
        font-size: 20px;
        font-weight: 400;
    }
    
    .container {
        width: 80px;
        margin: 0 auto;
    }
    /* definitions des polices */
    /* section batman au cinéma habillage espace */
    
    .habillage-espace {
        text-align: justify;
        margin-right: 250px;
    }
    
    button {
        font-family: 'Rajdhani';
        font-size: 20px;
        font-weight: 400;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    body {
        background-color: black;
        color: white;
        font-family: 'Space Grotesk';
        font-weight: 300;
        text-size-adjust: 16px;
        color: var(--white-color);
    }
    
    .up-bar {
        border-top: #727272 2px solid;
        position: relative;
        top: 132px;
        width: 85%;
        left: 102px;
    }
    
    .left-bar {
        border-left: #727272 2px solid;
        position: relative;
        top: 132px;
        width: 85%;
        left: 102px;
    }
    
    .right-bar {
        border-right: #727272 2px solid;
        position: relative;
        top: 132px;
        width: 85%;
        left: 102px;
    }
    /* Design de la navigation */
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
    }
    
    ul {
        list-style: none;
    }
    
    nav ul a {
        color: var(--white-color);
        font-size: 30px;
        font-weight: 500;
        font-family: 'Rajdhani';
        font-weight: bold;
        /*text-decoration: none; */
    }
    
    nav ul a:hover {
        color: var(--yellow-color);
    }
    
    .logo:hover {
        -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
        filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    }
    /*Design de la partie en tête hero */
    
    #hero {
        background-image: url(../Illustrations/Bathome1.png);
        height: 800px;
        background-position-x: top center;
        background-repeat: no-repeat;
        background-color: #19587D;
        background-size: cover;
        padding-top: 40px;
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding-top: 150px;
    }
    
    #hero .titre {
        margin: 20px 0;
    }
    
    .btn {
        text-decoration: none;
        color: var(--white-color);
        font-size: 22px;
        padding: 10px 40px;
        height: 30px;
        margin-top: 10px;
        background: linear-gradient( 80deg, var(--gradient-white), var(--gradient-red));
        box-shadow: var(--black-color) 15px 15px 40px;
        opacity: 60%;
    }
    
    .cta {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
    }
    
    #hero .fleche {
        display: block;
        margin: 0 auto;
        margin-top: 285px;
    }
    
    .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: 80px;
        top: 230px;
    }
    
    .scroll:hover {
        -webkit-filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
        filter: invert(4%)sepia(100%)saturate(1680%)hue-rotate(352deg)brightness(109%)contrast(104%);
    }
    
    .scroll .social {
        margin-top: 15px;
    }
    /* Design de la section nemesis personnages */
    
    #batman-cinema {
        margin-top: 40px;
    }
    
    .batman-personnage {
        display: flex;
        justify-content: space-between;
    }
    
    #batman-cinema .titre {
        text-transform: uppercase;
        font-weight: bold;
        margin: 30px 0;
    }
    
    #batman-cinema .description {
        margin-top: 40px;
        text-align: justify;
        width: 80%;
        font-size: 21px;
    }
    
    .legende {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    /* Design de la section nemesis personnages */
    
    #nemesis {
        margin-top: 40px;
    }
    /* Design de la section alliés personnages */
    
    #Alliés {
        margin-top: 40px;
    }
    /* Design de la section Justice League */
    
    #Justice League {
        margin-top: 40px;
    }
    /* Design de la section multimédia */
    
    #multimedia .slider-multimedia {
        display: flex;
        width: 60%;
        margin: 40px auto;
    }
    
    #multimédia .slider-multimedia {
        display: flex;
        width: 60%;
        margin: 40px auto;
    }
    
    #multimedia .slider-image {
        width: 100%;
    }
    
    #multimedia .slider-content {
        padding: 15px;
        background-color: grey;
        /*border-radius: 20px; */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #multimedia p {
        font-size: 15px;
    }
    
    #multimedia .yellow {
        color: var(--yellow-color);
    }
    
    #multimedia button {
        position: relative;
        top: 155px;
        background-color: transparent;
    }
    
    #multimedia button.right {
        right: -800px;
    }
    
    .img1 {
        float: inline-end;
        width: 8%;
        height: 1%;
        margin-left: -2%;
        margin-top: 2%;
    }
    /*Design de la partie contact - formulaire */
    
    #formulaire {
        background: linear-gradient(80deg, var(--brown-light), var (--brown-dark));
        padding: 70px 0;
    }
    
    #formulaire .container {
        width: 50%;
        margin: 0 auto;
    }
    
    #formulaire h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 32px;
    }
    
    #formulaire .titre {
        display: block;
        margin: 10px 0;
    }
    
    #formulaire .container input[type="email"],
    text zone {
        display: block;
        border-top: none;
        border-right: none;
        border-left: none;
        width: 500px;
        border-bottom: 2 px dark gray;
        background-color: transparent;
        padding-top: 10px 0;
    }
    
    #form .new {
        margin: 10px 0;
        margin-bottom: 2px dark gray;
    }
    
    #form .img icon {
        transform: rotate (90 degrees);
        width: 20px;
    }
    
     :-ms-input-placeholder {
        color: #F8F184;
        font-size: 15px;
    }
    
     :-ms-input-placeholder {
        color: #F8F184;
        font-size: 15px;
    }
    
     ::placeholder {
        color: #F8F184;
        font-size: 15px;
    }
    
    .btn-group {
        padding: 10px;
        display: flexible;
        justify-content: space-between;
    }
    
    #form input [ type="radio"] {
        opacity: 0;
    }
    
    .btn group label {
        cursor: pointer;
        padding: 10px;
        border: 2 px solid;
        -o-border-image: linear-gradient (69 deg, red, blue) 1;
        border-image: linear-gradient (69 deg, red, blue) 1;
        font-size: 20px;
    }
    
    input [ type='submit'] {
        display: block;
        width: 230px;
        margin: 25px auto;
        padding: 15px 0;
        cursor: pointer;
        background: linear gradient ( 80 degrees, var ( --gradient-white), var ( --gradient-red));
        border: none;
    }
    
    #citation {
        margin: 90px;
    }
    
    #citation .citation-carte {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    
    #citation .quote-author {
        padding-top: 30px;
        font-size: 14px;
        font-family: 'rajdhani';
    }
    
    #quote .quote close {
        float: right;
    }
    /* Footer design */
    
    footer {
        margin-top: 160 px;
    }
    
    footer .text-footer {
        text-align: center;
        font-size: 14px;
    }
    
    footer .social footer {
        text-align: center;
        margin: 50px 0;
    }
    
    footer.social-element {
        padding: 20px;
    }
    
    footer.social-item img {
        width: 2%;
    }